{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
        <main class="site-main section-inner thin animated fadeIn faster gallery-page">
                <h1>{{ .Title }}</h1>
                {{- if .Content }}
                <div class="content">
			{{ .Content }}
                </div>
                {{- end }}
                {{- range .Data.Pages.GroupByDate "2006" }}
                <div class="post-year"><h2>{{ .Key }}</h2></div>
                <div class="posts-group">
                        <ul class="posts-list gallery-list">
                                {{- range .Pages }}
					{{ .Render "gallery-list" }}
                                {{- end }}
                        </ul>
                </div>
                {{- end }}
        </main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
{{ end }}
